<!-- Vehicle Type Creation Modal -->
<div class="modal fade" id="vehicleTypeModal" tabindex="-1" aria-labelledby="vehicleTypeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="vehicleTypeModalLabel">
                    <span class="material-symbols-outlined me-2">category</span>
                    Add New Vehicle Type
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="vehicle-type-form-container">
                {% include 'transportation/partials/vehicle_type_form.html' %}
            </div>
        </div>
    </div>
</div>
