{% extends "base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/home/style.css' %}">
{% endblock styles %}

{% block content %}

<section id="home">
    <div class="container d-flex">
        <div class="content">
            <h1>Simplifying Life with Seamless Service</h1>
            <p>Report, track, and manage issues efficiently for your organisation.</p>
            <div class="button-container">
                <a href="{% url 'core:login' %}" class="btn btn-light fw-semibold btn-lg">Get Started</a>
            </div>
        </div>
    </div>
</section>

{% endblock content %}