{% extends "base.html" %}
{% load static %}
{% block title %}IssueHub - Landing Page{% endblock %}
{% block style %}
<link rel="stylesheet" href="{% static 'styles/landing_page/landing_page.css' %}">
{% endblock style %}

{% block content %}

<body>
    <img src="{% static 'images/logo.png' %}" alt="IssueHub Logo" class="img-fluid mb-4">
    <div class="container mt-5 text-center">
        <div class="row">
            <div class="col">
                <h3>Simplifying Life with Seamless Service</h3>
                <p>Report, track, and manage issues efficiently for your organisation.</p>
                <!-- <a href="{% url 'admin:index' %}" class="btn btn-primary">Admin Login</a>
                <a href="{% url 'issue_management:report_issue' %}" class="btn btn-primary">Report an Issue</a> -->
                <div class="d-flex justify-content-center">
                    <a href="{% url 'core:account_creation' %}" class="btn btn-light me-2">Register</a>
                    <div class="dropdown">
                        <button class="btn btn-outline dropdown-toggle ms-2" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Login
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item"
                                    href="{% url 'core:general_user_login' %}">general_user_login</a></li>
                            <li><a class="dropdown-item" href="{% url 'core:user_login' %}">User Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
{% endblock content %}