<section class="sidebar sidebar-collapsed">
    <div class="nav">
        <a class="navlink" href="{% url 'dashboard:dashboard' %}">
            <span class="material-symbols-outlined me-2">
                dashboard
            </span>
            <span class="menu-text">Dashboard</span>
        </a>

        <a class="navlink" href="{% url 'marketplace:marketplace' %}">
            <span class="material-symbols-outlined me-2">
                storefront
            </span>
            <span class="menu-text">Market</span>
        </a>

        <a class="navlink" href="{% url 'issue_management:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>

        <div class="nav-divider"></div>
        
        <!-- Space Settings -->
        <a class="navlink" href="{% if selected_space %}{% url 'service_management:space_settings' selected_space.slug %}{% else %}#{% endif %}">
            <span class="material-symbols-outlined me-2">
                settings
            </span>
            <span class="menu-text">Settings</span>
        </a>

    </div>
</section>