<section class="sidebar sidebar-collapsed">
    <div class="nav">
        <!-- Dashboard -->
        <a class="navlink {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard:dashboard' %}">
            <span class="material-symbols-outlined me-2">
                dashboard
            </span>
            <span class="menu-text">Dashboard</span>
        </a>

        <!-- Issues (users can report and view their issues) -->
        <a class="navlink {% if request.resolver_match.url_name == 'issue_list' %}active{% endif %}" href="{% url 'issue_management:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>
    </div>
</section>
