{% load core_tags %}
<section class="sidebar sidebar-collapsed">
    <div class="nav">
    <a class="navlink {% is_active 'dashboard:space_admin_dashboard' %}" href="{% url 'dashboard:space_admin_dashboard' %}">
            <span class="material-symbols-outlined me-2">
                dashboard
            </span>
            <span class="menu-text">Dashboard</span>
        </a>
    <!-- <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                groups
            </span>
            <span class="menu-text">People</span>
        </a> -->

    <!-- <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                tile_medium
            </span>
            <span class="menu-text">Departments</span>
        </a> -->

    <!-- <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                door_open
            </span>
            <span class="menu-text">Rooms</span>
        </a> -->

    <!-- <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                storefront
            </span>
            <span class="menu-text">Vendors</span>
        </a> -->

    <!-- <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                shopping_cart
            </span>
            <span class="menu-text">Purchases</span>
        </a> -->

    <a class="navlink {% is_active 'issue_management:space_admin:*' %}" href="{% url 'issue_management:space_admin:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>

    </div>
</section>