{% load core_tags %}
<section class="sidebar sidebar-collapsed">
    <div class="nav">
    <a class="navlink" href="{% url 'issue_management:reviewer:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>

    <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                rate_review
            </span>
            <span class="menu-text">My Reviews</span>
        </a>

    </div>
</section>