@use '../../sidebar_base';
@use '../../colors' as colors;


#alert-details {
  .alert {
    margin-bottom: 15px;
    border: 1px solid colors.$primary !important;
    background-color: #e2eefd !important;
  }
  .alert .alert-buttons {
    width: fit-content;
  }
  .resolved-alert{
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #104920 !important;
    background-color: #edffec !important;
  }
}