{% load core_tags %}
<section class="sidebar sidebar-collapsed">
    <div class="nav">
        <a class="navlink {% is_active 'issue_management:supervisor:issue_list,issue_management:supervisor:issue_detail' %}" href="{% url 'issue_management:supervisor:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>
        <a class="navlink {% is_active 'issue_management:supervisor:work_task_list,issue_management:supervisor:work_task_detail' %}" href="{% url 'issue_management:supervisor:work_task_list' %}">
            <span class="material-symbols-outlined me-2">
                task
            </span>
            <span class="menu-text">Tasks</span>
        </a>
    </div>
</section>
