<section class="sidebar sidebar-collapsed">
    <div class="nav">
        <a class="navlink" href="{% url 'issue_management:supervisor:issue_list' %}">
            <span class="material-symbols-outlined me-2">
                report
            </span>
            <span class="menu-text">Issues</span>
        </a>
        <a class="navlink" href="#">
            <span class="material-symbols-outlined me-2">
                task
            </span>
            <span class="menu-text">Tasks</span>
        </a>
    </div>
</section>
