<h1>People List</h1>

<p>
    <a href="{% url 'core:people_create' %}">Add New Person</a>
</p>

<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone_number }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">No users found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
