{% extends "sidebar_base.html" %}

{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'styles/core/space_list/style.css' %}">
{% endblock %}

{% block navbar %}
{% include "navbar.html" %}
{% endblock %}

{% block sidebar %}
{% include "central_admin/sidebar.html" %}
{% endblock %}

{% block content %}



    <h1>Spaces</h1>
    
            {% for space in spaces %}
                <!-- <tr>
                    <td>{{ space.name }}</td>
                    <td>{{ space.description }}</td>
                    <td>{{ space.org.name }}</td>
                </tr> -->
            {% empty %}
                <section id="no-data">
                    <div class="container d-flex">
                        <div class="content">
                            <h2><span class="material-symbols-outlined">apartment</span></h2>
                            <p>No spaces found</p>
                            <a href="#" class="btn btn-primary btn-sm d-flex" id="button"><span class="material-symbols-outlined">add</span><span>Create Space</span></a>
                        </div>
                    </div>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}